<h2 class="text-center">Título: {{data.titulo}}</h2>

<mat-dialog-content>

  <h5>Informacion</h5>
  <hr>
  <div class="row mt-4">

    <div class="col">
      <strong>Codigo: </strong>
      <p>{{data.codigo}}</p>
    </div>

    <div class="col">
      <strong>Tema: </strong>
      <p>{{data.tema}}</p>
    </div>

    <div class="col">
      <strong>Departamento: </strong>
      <p>{{data.departamento}}</p>
    </div>


  </div>

  <hr>

  <div class="row" *ngIf="data.descripcion">

    <div class="col">
      <strong>Descripción: </strong>
      <p>{{data.descripcion}}</p>
    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col">
      <strong>Tipo de publicación:</strong>
      <p>{{data.tipo_publicacion}}</p>
    </div>

    <div class="col">
      <strong>Fecha de Elaboración: </strong>
      <p>{{data.fecha_elaboracion}}</p>
    </div>

    <div class="col">
      <strong>Origen: </strong>
      <p>{{data.origen}}</p>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <strong>Autor:</strong>
      <p>{{data.autor}}</p>
    </div>

    <div class="col">
      <strong>ISBN: </strong>
      <p>{{data.isbn}}</p>
    </div>

    <div class="col">
      <strong>Categoria: </strong>
      <p>{{data.categoria}}</p>
    </div>

  </div>

  <h5>Disponibilidad</h5>
  <hr>

  <div class="row">

    <div class="col" *ngIf="data.cantidad_cd">
      <strong>Cantidad en CD:</strong>
      <p>{{data.cantidad_cd}}</p>
    </div>

    <div class="col" *ngIf="data.cantidad_impresa">
      <strong>Cantidad Fisico:</strong>
      <p>{{data.cantidad_impresa}}</p>
    </div>

    <div class="col" *ngIf="data.url_digital">
      <strong>Link digital:</strong><br>
      <a href="{{data.url_digital}}">{{data.url_digital}}</a>
    </div>

  </div>

  <h5 *ngIf="data.volumen">Detalle de revista</h5>
  <hr *ngIf="data.volumen">

  <div class="row" *ngIf="data.volumen">

    <div class="col">
      <strong>Volumen:</strong>
      <p>{{data.volumen}}</p>
    </div>

    <div class="col">
      <strong>Periodo: </strong>
      <p>{{data.periodo}}</p>
    </div>

    <div class="col">
      <strong>Número de edicion: </strong>
      <p>{{data.numero_edicion}}</p>
    </div>

  </div>

</mat-dialog-content>