<h3 class="mt-5">Lista de entradas de publicaciones</h3>
<hr>

<div class="card mt-5">

  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <p class="ml-3 m-0">Título</p>
      </div>

      <div class="col-2">
        <p class="m-0">Cantidad</p>
      </div>

      <div class="col-2">
        <p class="m-0">Tipo de entrada</p>
      </div>

      <div class="col-2">
        <p class="m-0">Producto</p>
      </div>

      <div class="col">
        <button class="btn btn-info float-right" (click)="addStock()">Añadir</button>
      </div>

    </div>
  </div>

  <div class="card-body" >

    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let stock of stockService.stocks 
      | paginate: { itemsPerPage: 5, currentPage: p, id: 'first'}">
        <div class="row">
          <div class="col-4">
            <p>{{stock.publicacion.titulo}}</p>
          </div>

          <div class="col-2">
            <p class="m-0">{{stock.cantidad}}</p>
          </div>

          <div class="col-2">
            <p class="m-0">{{stock.tipo_entrega}}</p>
          </div>

          <div class="col-2">
            <p class="m-0">{{stock.tipo_cantidad}}</p>
          </div>

          <div class="col">
            <a class="float-right ml-4 text-danger" (click)="deleteStock(stock.id)" 
            style="cursor:pointer;" matTooltip="Borrar Entrada">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer text-center">
    <pagination-controls (pageChange)="p = $event" id="first"
    previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
  </div>

</div>