<nav class="navbar navbar-expand-lg navbar-dark bg-light">

  <div class="container">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="publicaciones">Lista</a>
        <a class="nav-item nav-link" routerLink="stocks">Stock</a>
        <a class="nav-item nav-link" routerLink="publicacionesModule">Ventas</a>
        <a class="nav-item nav-link" routerLink="publicacionesModule">Salidas</a>
      </div>

    </div>
  </div>
</nav>
