<h3 class="mt-5">Lista de ventas registradas</h3>
<hr>

<div class="card mt-5">

  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <p class="ml-3 m-0">Bauche</p>
      </div>

      <div class="col-2">
        <p class="m-0">Banco</p>
      </div>

      <div class="col-2">
        <p class="m-0">Monto debito</p>
      </div>

      <div class="col-2">
        <p class="m-0">Monto credito</p>
      </div>

    </div>
  </div>

  <div class="card-body" >

    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let venta of ventasService.ventas 
      | paginate: { itemsPerPage: 5, currentPage: p, id: 'first'}">
        <div class="row">
          <div class="col-2">
            <p>{{venta.bauche}}</p>
          </div>

          <div class="col-2">
            <p class="m-0">{{venta.banco}}</p>
          </div>

          <div class="col-2">
            <p class="m-0">{{venta.monto_debito}}</p>
          </div>

          <div class="col-2">
            <p class="m-0">{{venta.monto_credito}}</p>
          </div>
          
          <div class="col-2">
            <p class="m-0">{{venta.created_at}}</p>
          </div>

          <!--
          <div class="col">
            <a class="float-right ml-4 text-danger" (click)="deleteventa(venta.id)" 
            style="cursor:pointer;">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
          -->
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer text-center">
    <pagination-controls (pageChange)="p = $event" id="first"
    previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
  </div>

</div>
