<nav class="navbar navbar-expand-lg navbar-dark" style="background: #0a3677">
  <div class="container">

    <a class="navbar-brand" href="#">Inventario Fondo Editorial UNEG</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="materialesModule" *ngIf="loggedIn">Materiales</a>
        <a class="nav-item nav-link" routerLink="publicacionesModule/publicaciones" *ngIf="loggedIn">Publicaciones</a>
        <a class="nav-item nav-link" style="cursor:pointer;" 
        (click)="openReporte()">Reportes</a>
      </div>

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-item nav-link" routerLink="profile" *ngIf="loggedIn">Perfil</a>
        </li>

        <li class="nav-item">
            <a class="nav-item nav-link" routerLink="login" *ngIf="!loggedIn">Iniciar Sesión</a>
            <a class="nav-item nav-link" href="#" (click)="logout($event)" *ngIf="loggedIn">Cerrar Sesión</a>
        </li>
        
      </ul>

    </div>
  </div>
</nav>