<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="#">Login Angular/Laravel</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-item nav-link" routerLink="profile" *ngIf="loggedIn">Profile</a>
        </li>

        <li class="nav-item">
            <a class="nav-item nav-link" routerLink="login" *ngIf="!loggedIn">Login</a>
            <a class="nav-item nav-link" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
        </li>
        
      </ul>

    </div>
  </div>
  </nav>