<div class="container" style="margin-top:10%">
    
  <div class="row justify-content-center">
    <div class="col-md-8">
  
      <div class="card">
  
        <div class="card-header">
          <div class="h3">Iniciar Sesión</div>
        </div>

        <div class="card-body d-flex justify-content-center" *ngIf="loading">
          <mat-progress-spinner class="text-center" mode="indeterminate"></mat-progress-spinner>
        </div>
  
        <div class="card-body" *ngIf="!loading">
          <form #loginForm=ngForm (ngSubmit)="onSubmit()" >

            <div class="alert alert-danger" [hidden]="!error">
              {{error}}
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresa email" [(ngModel)]="form.email" required>

              <small id="emailHelp" class="form-text text-muted">No compartiremos tu Email.</small>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="form.password" required>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Iniciar Sesión</button>

              <a routerLink="/signup" class="btn btn-info float-right">Registrarse</a> 
            </div>

            <small class="float-right">
              <a routerLink="/request-pass-reset">Recuperar contraseña</a>
            </small>

          </form>

            
        </div>
        
      </div>
    </div>
  </div>


</div>

